/*DISEÑO DEL PROYECTO */
* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }

body {      
    background-color: rgb(224, 231, 235);
}
.header {
    width: fit-content;
    height: min-content;
    color: rgb(180, 212, 255);
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    background-color: rgb(184, 198, 238);
}
#menu {
    margin: auto;
    margin-top: 10px;
}
.navbar{
    background-color:rgb(0, 102, 128);
    color: azure;
    padding: 10px 30px;
    text-decoration: none;
    justify-content: center;
    border: none;
    border-radius: 8px;
}
.navbar:hover{
    background-color: rgb(32, 53, 97);
}
#hoja {
    flex-direction: row;
    }


#ladoUno {
     width: 40%;
    }
        
#ladoDos {
    display: grid;
    grid-template-rows: auto;
    position: initial;
    border: 1px solid gold;
    margin: 10px;
    width: 60%;
    }
    
.bokita {
    background-color: gold;
}

.idiomas {
    padding-top: 20px;
    color: black;
}
div#contacto {
    padding-top: 20px;
    color: black;

}
div#info {
    width: 300px;
    height: 500px;
    padding: 50px;
    margin: 10px;
    color: black;
    border: 1px solid gold;
    padding-right: 20px;
}
div#redes {
    padding-top: 20px;
    color: black; 
}
div#SocialMedia {
    font-size: 50px;
}

div#formacion {
    color: black;
    padding-left: 30px;
    padding-right: 10px;
    margin:initial;
}
div#laboral {
    color:black;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin:initial;


}
div#habilidades {
    color:black;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 10px;
    margin:initial;
}